.blog__container {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1.875rem;
    height: auto;
    margin-top: 1rem;
    row-gap: 0.6rem;
}

.blog__card {
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.blog__thumb {
    position: relative;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.blog__img {
    transform: scale(1);
    transition: .3s;
}

.blog__thumb:hover .blog__img {
    transform: scale(1.1);
}


.blog__details {
    background-color: var(--container-color);
    padding: 1.25rem;
    margin-bottom: -1rem;
}

.blog__title {
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
    text-align: center;
}

.blog__meta {
    display: flex;
    column-gap: 0.6rem;
    font-size: var(--small-font-size);
    color: #8b88b1;
}

.blog__dot {
    font-weight: var(--font-bold);
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

@media screen and (max-width: 1024px) {
    .blog__container {
      grid-template-columns: repeat(2, 330px);
      justify-content: center;
      row-gap: 1.875rem;
    }
}

@media screen and (max-width: 768px) {
    .blog__container {
      grid-template-columns: 310px;
      
    }
}

@media screen and (max-width: 350px) {
    .blog__container {
      grid-template-columns: 1fr;
    }
}